<section class='Landing fadein'>
  <h2 class='landing-intro landing-text'>I'm Alex Ela, a front-end software engineer in Albuquerque, NM.</h2>
	<h3 class='landing-click-below landing-text'>Click below to get in touch.  Thanks!</h3>
  <nav class='landing-nav'>
  	<a class='landing-nav-link resume'
       href='../../assets/Alexander_Ela_Software_Engineer_Resume.pdf'
       target='_blank'>
      <i class="far fa-file landing-icon landing-icon-resume"><div class='resume-description'>Resume</div></i>
    </a>
    <a class='landing-nav-link github'
       href='https://github.com/alexanderela'
       target='_blank'>
      <i class="fab fa-github landing-icon"></i>
    </a>
    <a class='landing-nav-link linkedin'
       href='https://www.linkedin.com/in/alexanderela/'
       target='_blank'>
      <i class="fab fa-linkedin landing-icon"></i>
    </a>
    <a class='landing-nav-link email'
       href='mailto:ela.alexander@gmail.com'>
      <i class="far fa-envelope landing-icon"></i>
    </a>
  </nav>
</section>
