<section class='About-summary'>
	<h2 class='About-header'>About</h2>
	<p class='About-summary-paragraph'>
		I'm a front end software engineer who loves learning new technologies.  
		<a href='https://github.com/alexanderela/personal-website'>I built this site, for example, using AngularJS,
		</a> a framework I first began exploring only two weeks before deployment.  Though far more experienced using React, I get enormous satisfaction from taking on challenges like this one.
	</p>

	<p class='About-summary-paragraph'>
		My previous career working in fine art appraisal led to my love for building software, after I designed and built a company website for my previous employer. I look forward to furthering my expertise in software engineering by working with other passionate individuals in this exciting new professional chapter.
	</p>

	<p class='About-summary-paragraph paragraph-3'>
		*Currently seeking full time software development work in the Denver, CO area.
	</p>
</section>