.About-summary {
	align-items: center;
	display: flex;
	flex-direction: column;
  font-size: 1.05rem;
	justify-content: center;
  padding: 0 5rem;
}

.About-header {
	color: #0D2C54;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0 0 2rem;
}

.About-summary-paragraph {
	margin: 0 0 1rem;
	text-align: center;
  /*transition: all 0.75s ease-out;*/
	animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.paragraph-3 {
  color: #f6511d;
	font-weight: 700;	
}

@media screen and (max-width: 768px) {
	.About-summary {
		padding: 0;
	}
}

@media screen and (max-width: 735px) {
	.About-summary {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 320px) {
	.About-summary {
		padding: 0 2rem;
	}
}
