<section class='About-summary'>
<h2 class='About-header'>About</h2>
	<p class='About-summary-paragraph'>
	  Software engineer who finds deep satisfaction in building and understanding JavaScript user interfaces, and in persevering through difficult technical challenges. I work best in collaborative work environments that encourage crafting robust, elegant code through regular communication and agile processes.
	</p>

	<p class='About-summary-paragraph'>
		With experience in multiple front end JavaScript libraries, I work primarily in React while managing state with Redux to construct applications that provide highly intuitive user experiences. In addition to client-side development, I have been expanding my knowledge of server-side technologies, learning and working with Node.js, Express, Knex, PostgreSQL, and creating RESTful APIs.
	</p>

	<p class='About-summary-paragraph'>
		My previous career working in fine art appraisal led to my love for building software, after I designed and built a company website for my previous employer. This appraisal experience also taught me to carefully develop defensible methodologies and to thoroughly plan and execute large projects. I look forward to furthering my expertise in software engineering by working with other passionate individuals in this exciting new professional chapter.
	</p>
</section>