<section class='Skills'>
	<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>
		</tbody>
	</table>

	<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>
		</tbody>
	</table>

<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>
		</tbody>
	</table>

	<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>
		</tbody>
	</table>

<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'><img class='skills-icon'></td>
			</tr>
		</tbody>
	</table>
</section>
