.Skills {
	display: grid;
	grid-column-gap: 4rem;
	grid-row-gap: 1rem;
	grid-template-columns: repeat(auto-fit, 10rem);
	margin: 0 2rem;
}

thead {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	font-size: 1.15rem;
	padding: 0.5rem 0;
}

th {
	color: #0D2C54;
	font-weight: 700;
	text-align: center;
}

tr {
	display: flex;
	justify-content: center;
}

td {
	align-items: center;
	display: flex;
	height: 2.75rem;
	justify-content: center;
	text-align: center;
}

.td-name {
	font-size: 0.95rem;
	width: 6rem;
}

.td-image {
	width: 4rem;	
}

.skills-icon {
	background-size: cover;
	border-radius: 10px;
	height: 2rem;
	width: 2rem;
}