<section class='Skills'>
<table class='Skills-table' *ngFor='let skillset of skillsets'>
		<thead>
			<tr>
				<th>{{skillset.category}}</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row' *ngFor='let skill of skillset.skills'>
				<td class='td-name'>{{skill.name}}</td>
				<td class='td-image'>
					<div class='skills-icon' [ngStyle]="{ 'background-image': 'url(' + skill.image + ')'}"></div>
				</td>
			</tr>
		</tbody>
	</table>
</section>



<!-- <section class='Skills'>
	<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>HTML5</td>
				<td class='td-image'>
					<div class='skills-icon html'></div></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>CSS3</td>
				<td class='td-image'>
					<img class='skills-icon c
					ss'></td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>
		</tbody>
	</table>

	<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>
		</tbody>
	</table>

<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>
		</tbody>
	</table>

	<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>
		</tbody>
	</table>

<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>
		</tbody>
	</table>

<table class='Skills-table-1'>
		<thead>
			<tr>
				<th>Front End</th>
			</tr>
		</thead>
		<tbody>
			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>

			<tr class='tbody-row'>
				<td class='td-name'>JavaScript</td>
				<td class='td-image'>
					<img class='skills-icon'>
				</td>
			</tr>
		</tbody>
	</table>
</section>
 -->