.skills-container {
	display: grid;
	grid-column-gap: 4rem;
	grid-row-gap: 1rem;
	grid-template-columns: repeat(auto-fit, 9rem);
	justify-content: center;
}


.skills-header {
	color: #0D2C54;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0 0 2rem;
	text-align: center;	
}

.skills-container, .skills-header{
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
		 -moz-animation: fadein 2s; /* Firefox < 16 */
			-ms-animation: fadein 2s; /* Internet Explorer */
			 -o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
	transition: all 0.75s ease-out;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

thead {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	font-size: 1.15rem;
	padding: 0.5rem 0;
}

th {
	color: #0D2C54;
	font-weight: 700;
	text-align: center;
}

tr {
	display: flex;
	justify-content: center;
}

td {
	align-items: center;
	display: flex;
	height: 2.75rem;
	justify-content: center;
	text-align: center;
}

.td-name {
	font-size: 0.95rem;
	width: 6rem;
}

.td-image {
	width: 2rem;	
}

.skills-icon {
	background-size: cover;
	border-radius: 10px;
	height: 2rem;
	width: 2rem;
}

@media screen and (max-width: 768px) {
	.skills-container {
		margin: 0 1rem;
	}
}

@media screen and (max-width: 550px) {
	.skills-header {
		margin: 0 0 1rem;
	}

	.skills-container {
		grid-column-gap: 0.5rem;
	}
}

@media screen and (max-width: 320px) {
	.skills-container {
		grid-template-columns: repeat(auto-fit, 100%);
	}

	.skills-header {
		margin: 0 0 1rem;
	}
}