<section class='Portfolio'>
	<h2 class='portfolio-header'>Portfolio</h2>
	<div class="portfolio-header-link-wrapper">
		<a 
			href="https://www.linkedin.com/in/alexanderela/#projects"
			target="_blank"
			rel="noopener noreferrer"
			class="portfolio-header-link"
		>
			** Please see my LinkedIn Projects section for a list of more recent projects **
		</a>
	</div>

	<h3 class='legacy-portfolio-header'>Legacy Projects</h3>

	<section class='portfolio-instance' *ngFor='let portfolio of portfolios'>
		<section class='portfolio-header-overview-container'>
			<h3 class='portfolio-app-header'>{{portfolio.title}}</h3>
			<p class='portfolio-app-overview'>{{portfolio.overview}}</p>
		</section>
		<section class='portfolio-areas-of-focus'>
			<h4 class='portfolio-areas-of-focus-header'>Areas of Focus</h4>
			<ul class='portfolio-areas-of-focus-items'>
				<li class='portfolio-areas-of-focus-item'
						*ngFor='let area of portfolio.focusAreas'
				>{{area}}
			</ul>
		</section>
		<div class='portfolio-app-image' [ngStyle]="{ 'background-image': 'url(' + portfolio.image + ')'}"></div>
		<section class='portfolio-footer'>
			<div class='portfolio-footer-link-entry'>
				<div class='portfolio-footer-icon' [ngStyle]="{ 'background-image': 'url(' + portfolio.favicon + ')'}"></div>
				<a href='{{portfolio.deployedLink}}'>{{portfolio.title}} live</a>
			</div>
			<div class='portfolio-footer-link-entry'>
				<div class='portfolio-footer-icon' style="background-image:url('../../assets/workflow/github.png')"></div>
				<a href='{{portfolio.githubLink}}'>{{portfolio.title}} on GitHub</a>
			</div>
		</section>
		<hr class='portfolio-footer-break'>
	</section>
</section>
