.Portfolio {

}

.portfolio-instance {
	display: grid;
  grid-template-areas:
  'overview focus'
  'image image'
  'footer footer';
  margin: 0 0 2rem 0;
  padding: 1rem;
}

.portfolio-header-overview-container {
	grid-area: overview;
}

.portfolio-app-header {
	color: #0D2C54;
	font-weight: 700;
}

.portfolio-app-overview {
	padding: 0.5rem 6rem 0.5rem 1rem;
}

.portfolio-areas-of-focus {
	grid-area: focus;
}

.portfolio-areas-of-focus-header {
	color: #0D2C54;
	font-weight: 700;
}

.portfolio-areas-of-focus-items {
	margin: 0.5rem;
}

.portfolio-areas-of-focus-item {
	list-style-type: disc;
	margin: 0.1rem 0 0 1rem;
}

.portfolio-app-image {
  background-size: cover;
	grid-area: image;
	height: 13rem;
  margin: 0 auto;
  width: 24rem;
}

.portfolio-footer {
	grid-area: footer;
	height: 10=rem;
}

.portfolio-footer-link-entry {

}

.portfolio-footer-live-icon {

}

.portfolio-footer-github-icon {
	height: 3rem;
  width: 3rem;
}

.portfolio-footer-break {

}