<section class='App'>
<router-outlet *ngIf="_router.url === '/'" name='landing'></router-outlet>
<header class='site-header fadein' *ngIf="_router.url !== '/'">
  <div class='site-header-name-image-container'>
    <img class='site-header-image'>
    <div class='nav-link-name-title-container'>
      <h1 class='site-header-name'>Alexander Ela</h1>
      <h3 class='site-header-title'>Front End Engineer</h3>
    </div>
  </div>
  <nav class='site-header-nav'>
    <a class='nav-link resume'
       href='../../assets/Front_End_Engineer_Alexander_Ela_Resume.pdf'
       target='_blank'>
      <i class="far fa-file"></i>Resume
    </a>
    <a class='nav-link github'
       href='https://github.com/alexanderela'
       target='_blank'>
      <i class="fab fa-github"></i>GitHub
    </a>
    <a class='nav-link linkedin'
       href='https://www.linkedin.com/in/alexanderela/'
       target='_blank'>
      <i class="fab fa-linkedin"></i>LinkedIn
    </a>
    <a class='nav-link email'
       href='mailto:ela.alexander@gmail.com'>
      <i class="far fa-envelope"></i>Email
    </a>
  </nav>
</header>

<section class='page-bottom-half' *ngIf="_router.url !== '/'">
  <nav class='sidebar-nav fadein'>
    <div class='sidebar-nav-button-container'>
      <a class='sidebar-nav-button'
         routerLink='/about'
         routerLinkActive='nav-button-selected'>
        <i class="fas fa-chevron-right about-chevron"></i>About
      </a>
      <a class='sidebar-nav-button'
         id='skills-btn'
         routerLink='/skills'
         routerLinkActive='nav-button-selected'>
        <i class="fas fa-chevron-right skills-chevron"></i>Skills
      </a>
      <a class='sidebar-nav-button'
         id='portfolio-btn'
         routerLink='portfolio'
         routerLinkActive='nav-button-selected'>
        <i class="fas fa-chevron-right portfolio-chevron"></i>Portfolio
      </a>
    </div>
  </nav>

  <section class='main-content'>
    <router-outlet></router-outlet>
    <section class='footer'>
      <p class='footer-content'>©2019 alexanderela.com</p>
    </section>
  </section>

</section>
</section>