<header class='site-header'>
  <div class='site-header-name-image-container'>
    <img class='site-header-image'>
    <h1 class='site-header-name'>Alexander Ela</h1>
    <h3 class='site-header-title'>Front End Engineer</h3>
  </div>
  <nav class='site-header-nav'>
    <a class='nav-link resume'>
      <i class="far fa-file"></i>Resume
    </a>
    <a class='nav-link github'>
      <i class="fab fa-github"></i>GitHub
    </a>
    <a class='nav-link linkedin'>
      <i class="fab fa-linkedin"></i>LinkedIn
    </a>
    <a class='nav-link email'>
      <i class="far fa-envelope"></i>Email
    </a>
  </nav>
</header>
<section class='page-bottom-half'>
  <nav class='sidebar-nav'>
    <div class='sidebar-nav-button-container'>
      <a class='sidebar-nav-button'>
        <i class="fas fa-chevron-right nav-about"></i>About
      </a>
      <a class='sidebar-nav-button'>
        <i class="fas fa-chevron-right nav-skills"></i>Skills
      </a>
      <a class='sidebar-nav-button'>
        <i class="fas fa-chevron-right nav-portfolio"></i>Portfolio
      </a>
    </div>
  </nav>
  <section class='main-content'>
  </section>
</section>
<section class='footer'>
  <hr class='footer-break'>
  <p class='footer-content'>©2019 alexanderela.com</p>
</section>