a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-header {
	align-items: center;
	background: #FFF;
	display: flex;
	padding: 2rem 1rem 1rem;
}

.site-header-name-image-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30rem;
}

.site-header, h3 {
	margin: 0;
}

.site-header-image {
	background-size: cover;
	background-image: url('../assets/alexanderela-site-header-image.jpeg');
	border-radius: 50%;
	box-shadow: 0 0 10px #A9A8A8;
	height: 8rem;
	width: 8rem;
}

.site-header-name {
	color: #0D2C54;
	font-size: 2rem;
}

.site-header-title {
	font-size: 1.25rem;
	color: #515050;
}

.nav-link-name-title-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.site-header-nav {
	align-items: center;
	background: #FFF;
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	width: 50%;
}

.header-break {
	border-width: 0;
	width: 60%;
  border-top: 1px solid #E1E1E1;
  margin: 0 auto 0.5rem;
}

.page-bottom-half {
	display: grid;
	grid-template-columns: 14rem 1fr;
	width: 100%;	
}

.sidebar-nav {
	align-items: flex-start;
	background: #FFF;
	display: flex;
	justify-content: center;
}

.nav-link {
	color: #515050;	
	font-size: 1.25rem;
	font-weight: 800;
}

.resume {
	color: #F6511D;
}

.github {
	color: #FFB400;
}

.linkedin {
	color: #00A6ED;
}

.email {
	color: #7FB800;
}

.sidebar-nav-button-container {
	align-items: center;
	display: flex;
	flex-direction: column;
  height: 10rem;
	justify-content: space-between;
	margin: 3rem 0 0;
  width: 100%;
  border-right: 1px solid #dcdcdc;
}

.sidebar-nav-button {
	color: #0D2C54;
	font-size: 1.25rem;
}

.far, .fab, .fas {
	margin: 0 0.5rem 0 0;
}

.nav-about {
	color: #F6511D;
}

.nav-skills {
	color: #FFB400;
}

.nav-portfolio {
	color: #00A6ED;
}

.main-content {
	margin: 0 5rem 0 0;
}

.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.footer-content {
	color: #a9a8a8;
	margin: 2rem 0 2.5rem;
}