a {
	cursor: pointer;
	text-decoration: none;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: header;
	background: #FFF;
	padding: 2rem 1rem 3rem;
}

.site-header-name-image-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
  margin: 0 0 2rem;
	width: 23rem;
}

.site-header, h3 {
	margin: 0;
}

.site-header-image {
	background-size: cover;
	background-image: url('../assets/alexanderela-site-header-image.jpeg');
	border-radius: 50%;
	box-shadow: 0 0 10px #A9A8A8;
	height: 8rem;
	width: 8rem;
}

.site-header-name {
	color: #0D2C54;
	font-size: 2rem;
  margin: 0;
}

.site-header-title {
	font-size: 1.25rem;
	color: #515050;
}

.nav-link-name-title-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.site-header-nav {
	align-items: center;
	background: #FFF;
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	margin: 0 0 1rem;
	width: 80%;	
}

nav a,
nav a:after,
nav a:before,
nav div a {
  transition: all .25s ease-out;
} 

nav div a:after,
nav div a:before {
  transition: all .75s ease-out;
} 

nav.site-header-nav a {
  align-items: center;
  display: flex;
  height: 2.5rem;
  justify-content: center;
	position: relative;
  width: 8rem;
  z-index: 1;
}

nav.site-header-nav a:hover {
	color: #FFF;
}

nav.site-header-nav a:after {
	border-radius: 3px;
	bottom: 0;
	color: transparent;
	content: '.';
	display: block;
	height: 1px;
	left: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	visibility: none;
	width: 100%;
	z-index: -1;
}

nav.site-header-nav a:hover:after {
	height: 100%;
	opacity: 1;
	visibility: visible;
}

.page-bottom-half {
	display: grid;
	grid-template-columns: 14rem 1fr;
  grid-template-areas:
  'sidebar mainContent'
  'sidebar mainContent'
  'footer footer';
	width: 100%;	
}

.sidebar-nav {
	align-items: flex-start;
	background: #fff;
	display: flex;
	justify-content: center;
	grid-area: sidebar;
}

nav.sidebar-nav div a {
	position: relative;
	transition: all 0.25s;
}

nav.sidebar-nav div a:after {
	border-radius: 3px;
	bottom: 0;
	color: transparent;
	content: '.';
	height: 1px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: left;
	width: 0%;
}

nav.sidebar-nav div a:hover, fa-chevron-right:hover {
	color: #fff;
	z-index: 1;
}

nav.sidebar-nav div a:hover:after {
	animation: fill .85s forwards;
	-webkit-animation: fill .85s forwards;
  -moz-animation: fill .85s forwards;
	opacity: 1;
	z-index: -10;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #0D2C54;
  }
}

.nav-link {
	color: #515050;	
	font-size: 1.25rem;
	font-weight: 800;
}

.resume {
	color: #F6511D;
}

.resume:after {
	background: #F6511D;
}

.github {
	color: #FFB400;
}

.github:after {
	background: #FFB400;
}

.linkedin {
	color: #00A6ED;
}

.linkedin:after {
	background: #00A6ED;
}

.email {
	color: #7FB800;
}

.email:after {
	background: #7FB800;
}

.sidebar-nav-button-container {
	align-items: center;
	display: flex;
	flex-direction: column;
  height: 10rem;
	justify-content: space-between;
	margin: 3rem 0 0;
  width: 100%;
}

.sidebar-nav-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 9rem;
	color: #999;
	font-size: 1.25rem;
}

.nav-button-selected {
	color: #0D2C54;
	font-weight: 700;
	font-size: 1.5rem;
}

.far, .fab, .fas {
	margin: 0 0.5rem 0 0;
}

.about-chevron {
	color: #F6511D;
}

.skills-chevron {
	color: #FFB400;
}

.portfolio-chevron {
	color: #00A6ED;
}

.main-content {
	margin: 0 8rem 0 0;
	grid-area: mainContent;
}

.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	grid-area: footer;
}

.footer-content {
	color: #a9a8a8;
	margin: 2rem 0 2.5rem;
}

@media screen and (max-width: 768px) {
	.site-header-name-image-container {
    margin: 0 0 2rem;
		width: 19rem;
	}

	.site-header-nav {
		margin: 0 0 1rem;
	}

  .site-header-image {
		height: 5rem;
		width: 5rem;  	
  }
}

@media screen and (max-width: 735px) {
	.site-header {
		padding: 1.5rem 0.75rem 1rem;
		width: 100vw;
	}

	.page-bottom-half {
		grid-template-columns: 1fr;
		grid-template-areas:
		'sidebar'
		'mainContent'
		'footer';
		padding: 0 0.75rem;
		width: 100vw;
	}

	nav.sidebar-nav div a:hover, fa-chevron-right:hover {
		color: #0D2C54;
	}

	@-webkit-keyframes fill {
	  100% {
	    background: #fff;
	  }
	}

	.sidebar-nav {
		width: 100vw;
	}

	.sidebar-nav-button-container {
    flex-direction: row;
    height: 1rem;
    justify-content: space-between;
		margin: 0 0 3rem;
		padding: 1.5rem 1.25rem 1rem;
    width: 62%;
	}

	.main-content {
		margin: 0;
	}
}

@media screen and (max-width: 605px) {
	.nav-link {
  	display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
	}
}

@media screen and (max-width: 530px) {
	.sidebar-nav-button-container {
		width: 73%;
	}
}

@media screen and (max-width: 460px) {
	.site-header-nav {
		width: 90%;
	}
}

@media screen and (max-width: 420px) {
	.nav-link {
		font-size: 1rem;
	}

	.sidebar-nav-button-container {
		width: 85%;
		padding: 1.5rem 0 1rem;
	}
}

@media screen and (max-width: 385px) {
	.sidebar-nav-button {
		font-size: 1.2rem;
	}
}