<!--The content below is only a placeholder and can be replaced.-->
<header class='site-header'>
  <div class='site-header-name-image-container'>
    <img class='site-header-image'>
    <h1>Alexander Ela</h1>
    <h3>Front End Engineer</h3>
  </div>
  <nav class='site-header-nav'>
    <a class='nav-link'>Resume</a>
    <a class='nav-link'>GitHub</a>
    <a class='nav-link'>LinkedIn</a>
    <a class='nav-link'>Email</a>
  </nav>
</header>
<section class='page-bottom-half'>
  <nav class='sidebar-nav'>
    <div class='sidebar-nav-button-container'>
      <button class='sidebar-nav-button'>About</button>
      <button class='sidebar-nav-button'>Skills</button>
      <button class='sidebar-nav-button'>Portfolio</button>
    </div>
  </nav>
  <section class='main-content'>
  </section>
</section>